<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cities</title>
</head>
<body>
<h1>{{ city.name}}</h1>

<ul>
  <li>Population: {{ city.population }}</li>
  <li>Abbr: {{ city.abbrev }} </li>
  <li>State: {{ city.state.name }}</li>
</ul>
<br>
<form action="{% url 'states:city_detail' city.id %}" method="post">
  {% csrf_token %}
  <h3>Edit City</h3>
  {{ edit_city_form.as_p }}
  <input type="input" value="Edit">
  <br>
</form>
<br>
<a href="{% url 'states:index' %}">Home</a>
</body>
</html>